@page "/SimulatorPage"
@using MicrofluidSimulator.Components
@using MicrofluidSimulator.SimulatorCode.DataTypes
@using Microsoft.JSInterop
@using SimulatorCode
@using System.Text.Json.Serialization
@using MicrofluidSimulator.SimulatorCode.Simulator
@inject IJSInProcessRuntime JSInProcessRuntime
@inject IJSUnmarshalledRuntime JSUnmarshalledRuntime
@inject HttpClient Http
@inject WebSocketService WebSocketService

@using MicrofluidSimulator.SimulatorCode.View
@using System.Diagnostics
@using System.Text.Json
@using System.Text
@using System.Reflection
@using BioVirtualMachine
@using System.Net
@using System.Net.Http.Headers
@using MicrofluidSimulator.Services.Websocket
@using MicrofluidSimulator.SimulatorCode.Models



@if(DownloadModalOpen){
    <DownloadModal  @ref=downloadModal Title="Information editor" Text = "INSERT" OnClose="@CloseDownloadModal" OnSubmit="@SubmitDownloadModal"/>
}

@if(UploadModalOpen){
    <UploadModal  @ref=uploadModal Title="Information editor" Text = "INSERT" OnClose="@CloseUploadModal" OnSubmit="@SubmitUploadModal"/>
}

@if(SettingsModalOpen){
    <SettingsModal  @ref=settingsModal Title="Information editor" Text = "INSERT" OnClose="@CloseSettingsModal" OnSubmit="@SubmitSettingsModal" Asymptote="Asymptote" Growth="Growth" TickSize="TickSize"/>
}

<div id="simulatorGUI">
    <div id="simulatorContainer">

        <div id="sketchPanel">
            <div id="simulatorView">
                <div id="simulatorHeader">
                    <span>BOARD NAME</span>
                    <div><span>Simulation Time: </span><span id="simulatorTime"></span></div>
                </div>
                <div id='container'></div>
            </div>
        </div>
        
        <div id="controlPanel">
            <div id="button_div">
                <div>
                    <button id="nextStep" class="btn btn-primary" disabled=@DisableButtons @onclick ="NextStep">Next Step</button>
                    <button class="btn btn-primary" disabled=@DisableButtons @onclick="Play">@PlayButtonText</button>
                    <button class="btn btn-primary" disabled=@DisableButtons @onclick="Restart">Restart</button>
                    <button id="" class="btn btn-primary" disabled=@DisableButtons @onclick="DownloadDataButton">Download</button>
                    <button id="" class="btn btn-primary" @onclick="UploadDataButton">Upload</button>
                    <button id="" class="btn btn-primary" @onclick="SettingsButton">Settings</button>
                </div>
                <div>
                    <span>TimeStep amount:</span>
                    <RadzenNumeric @bind-Value="timeStepAmount" TValue="decimal" Step="0.1" Placeholder="Enter or clear value" Change="onTimeStepChange"></RadzenNumeric>
                </div>
            </div>
            <div id="slider_div">
                <RadzenSlider id="time_slider" @bind-Value=@sliderValue TValue="int" Min="0" Max=@GlobalVariables.maxSliderValue></RadzenSlider>
                <button class="btn btn-primary" disabled=@DisableButtons @onclick="GotoSliderTime">Goto Time: @sliderValue</button>
            </div>
        </div>
        

        <div id="informationPanelContainer">
            <div id="informationPanel">
                <div id="informationTitle">
                    <span>Information Panel</span>
                </div>

                <div id="information">
                    <button id="edit_button" class="btn btn-primary" style="visibility: hidden">Edit</button>
                    <div id="saveclose_button_div"><button id="save_button" class="btn btn-primary">Save</button><button id="cancel_button" class="btn btn-primary">Cancel</button></div>
                    <div id="informationElements"></div>
                </div>
            </div>

            <div id="selectionPanel">
                <span>Selection Panel</span>
                <form name="layer">

                </form>
            </div>
        </div>


        
    </div>
</div>

<a id="downloadAnchorElem" style="display:none"></a>


@code {
    bool DisableButtons = false;
    // Download Modal Code START
    DownloadModal downloadModal;
    public bool DownloadModalOpen { get; set; }

    /// <summary>
    /// Used to close the download modal
    /// </summary>
    /// <param name="accepted"></param>
    /// <returns></returns>
    private async Task CloseDownloadModal(bool accepted)
    {
        DownloadModalOpen = false;
        StateHasChanged();
    }

    /// <summary>
    /// Used to open the download modal
    /// </summary>
    private async void OpenDownloadModal()
    {
        DownloadModalOpen = true;
        StateHasChanged();
    }

    /// <summary>
    /// Used to submit the download modal
    /// </summary>
    /// <param name="accepted"></param>
    /// <returns></returns>
    private async Task SubmitDownloadModal(bool accepted)
    {
        DownloadModalOpen = false;
        DownloadData(downloadModal.TimeStart, downloadModal.TimeEnd, downloadModal.TimeStep);
        StateHasChanged();
    }

    /// <summary>
    /// Download button handler
    /// </summary>
    private void DownloadDataButton()
    {
        OpenDownloadModal();
    }




    /// <summary>
    /// Download simulation data
    /// </summary>
    [JSInvokable]
    public void DownloadData(decimal startTime, decimal endTime, decimal timeStep)
    {
        // Get the current time
        decimal timeBeforeDownload = simulator.container.currentTime;

        /*if(timeStep <= 0 && timeStep != -1)
            {
            timeStep = 0.1m;
        }*/

        // Restart simulation
        Restart();

        // Run the simulation and send the simulation data
        simulator.simulatorStep(startTime);

        while(simulator.container.currentTime <= endTime)
        {
            string jsonStringForDownload = Utf8Json.JsonSerializer.ToJsonString(simulator.container);

            guibroker.send_download_data(jsonStringForDownload);

            nextStepTime(timeStep);
        }

        // Flag data ready for download
        guibroker.download_data();

        // Go back to previous time
        Restart();
        gotoSimulatorTimeStep(timeBeforeDownload);
    }
    // Download Modal Code END

    // Upload Modal Code Start
    UploadModal uploadModal;
    public bool UploadModalOpen { get; set; }

    private async Task CloseUploadModal(bool accepted)
    {
        UploadModalOpen = false;
        StateHasChanged();
    }

    private async void OpenUploadModal()
    {
        UploadModalOpen = true;
        StateHasChanged();
    }

    private async Task SubmitUploadModal(bool accepted)
    {
        /* Setup Board Configuration */
        string ConfigurationFilePath = "./uploaded_configuration_file.json";
        if (File.Exists(ConfigurationFilePath))
        {
            var jsons = new JsonSerializerOptions();

            var jsonSerializerSettings = new Newtonsoft.Json.JsonSerializerSettings();
            jsonSerializerSettings.MissingMemberHandling = Newtonsoft.Json.MissingMemberHandling.Ignore;

            string jsonText = File.ReadAllText("./uploaded_configuration_file.json");
            //container = JsonSerializer.Deserialize<Container>(jsonText);
            //container = Utf8Json.JsonSerializer.Deserialize<Container>(jsonText);
            container = Newtonsoft.Json.JsonConvert.DeserializeObject<Container>(jsonText);

            simulator = new Simulator(container, browserLanguage);

            guibroker.set_jsprocess(JSInProcessRuntime);
            guibroker.set_unmarshall(JSUnmarshalledRuntime);
            guibroker.setP5();
            guibroker.update_board(simulator.container);
            guibroker.initialize_board(container.information);
        }

        /* Setup BioVM */
        string UploadedFilePath = "./uploaded_file.basm";
        if (File.Exists(UploadedFilePath))
        {
            string recompiled_file_path = "./recompiled_file.basm";
            string uploaded_file_path = "./uploaded_file.basm";

            bioVM = new BioVM(recompiled_file_path, uploaded_file_path, simulator);
            bioVM.UpdateEngineTickSize(TickSize);
        }

        UploadModalOpen = false;
        DisableButtons = false;

        StateHasChanged();
    }

    private void UploadDataButton()
    {
        OpenUploadModal();
    }

    // Settings Modal Code Start
    SettingsModal settingsModal;
    private double Asymptote { get; set; } = 10;
    private double Growth { get; set; } = 1;
    private decimal TickSize { get; set; } = 100;

    public bool SettingsModalOpen { get; set; }

    private async Task CloseSettingsModal(bool accepted)
    {
        SettingsModalOpen = false;
        StateHasChanged();
    }

    private async void OpenSettingsModal()
    {
        SettingsModalOpen = true;
        StateHasChanged();
    }

    private async Task SubmitSettingsModal(bool accepted)
    {
        SettingsModalOpen = false;
        Asymptote = settingsModal.Asymptote;
        Growth = settingsModal.Growth;
        TickSize = settingsModal.TickSize;

        simulator.setDeltaAsymptote(settingsModal.Asymptote);
        simulator.setDeltaGrowth(settingsModal.Growth);
        if(bioVM != null)
        {
            bioVM.UpdateEngineTickSize(settingsModal.TickSize);
        }
        StateHasChanged();
    }

    private void SettingsButton()
    {
        OpenSettingsModal();
    }
    // Settings Modal Code End

    int sliderValue = 0;
    static decimal timeStepAmount = -1;
    static float actualTimeStepAmount = 0;

    /// <summary>
    /// Called when the time step input is altered, 
    /// forced the value to be -1 when less than or equal to 0
    /// </summary>
    public void onTimeStepChange()
    {
        if(timeStepAmount <= 0)
        {
            timeStepAmount = -1;
        }
    }


    // Get the GUIBroker object reference
    static GUIBroker guibroker = new GUIBroker();

    /// <summary>
    /// Goes to the next time step using gotoTime
    /// </summary>
    private void NextStep() {
        gotoTime(timeStepAmount);
    }

    public static string PlayButtonText { get; set; } = "Play";
    /// <summary>
    /// Play button handler
    /// </summary>
    public void Play() {
        PlayButtonText = PlayButtonText.Equals("Play") ? "Pause" : "Play";
        InvokeAsync(() => StateHasChanged());
        guibroker.change_play_status();
        guibroker.start_simulator_time();
    }

    public void Playv2() {
        if(PlayButtonText != "Pause"){
            PlayButtonText = "Pause";
            InvokeAsync(() => StateHasChanged());
            guibroker.change_play_status();
            guibroker.start_simulator_time();
        }
    }

    public void Pause() {
        if (PlayButtonText != "Play")
        {
            PlayButtonText = "Play";
            InvokeAsync(() => StateHasChanged());
            guibroker.change_play_status();
            guibroker.start_simulator_time();
        }

    }

    /// <summary>
    /// Invokable from JavaScript, used to go delta time forward in the simulation
    /// </summary>
    /// <param name="deltaTime"></param>
    [JSInvokable]
    public static void nextStepTime(decimal deltaTime)
    {
        decimal tempTimeStep = timeStepAmount;
        timeStepAmount = deltaTime;
        gotoTime(timeStepAmount);
        timeStepAmount = tempTimeStep;
    }

    /// <summary>
    /// Invokable from JavaScript, used to go to a specific time
    /// </summary>
    /// <param name="deltaTime"></param>
    [JSInvokable]
    public static void gotoSimulatorTimeStep(decimal deltaTime)
    {
        if (simulator == null) return;
        simulator.restartSimulator();
        simulator.simulatorStep(deltaTime);
        guibroker.update_board(simulator.container);
    }

    /// <summary>
    /// Used to go to a specific time point in the simulation
    /// </summary>
    /// <param name="timeStepAmount"></param>
    public static void gotoTime(decimal timeStepAmount)
    {
        if(simulator.actionQueue.Count == 0 && bioVM != null) {
            bioVM.step();
        }

        if(timeStepAmount <= 0)
        {
            simulator.simulatorStep(-1);
            // simpleVM.doApiCall();
        }
        else
        {
            decimal targetTime = simulator.container.currentTime + timeStepAmount;
            while(simulator.container.currentTime < targetTime)
            {
                if(simulator.actionQueue.Count == 0 && bioVM != null) {
                    bioVM.step();
                }
                simulator.simulatorStep(-1);
                // simpleVM.doApiCall();
            }
        }

        guibroker.update_board(simulator.container);
    }

    /// <summary>
    /// Used to go to the time on the slider
    /// </summary>
    public void GotoSliderTime()
    {
        Restart();

        gotoTime((decimal)sliderValue);

        guibroker.update_board(simulator.container);
        simulator.simulatorStep(-2);
        guibroker.update_board(simulator.container);
    }

    /// <summary>
    /// Restarts the simulation
    /// </summary>
    public void Restartv1()
    {
        simulator.restartSimulator();
        guibroker.update_board(simulator.container);
        guibroker.restart_board();
        bioVM.init();
        bioVM.UpdateEngineTickSize(TickSize);
    }

    public async void Restart()
    {
        Pause();
        browserLanguage = JSInProcessRuntime.Invoke<String>("get_browser_language");

        string jsonText = "";
        bool configFileExists = File.Exists("./uploaded_configuration_file.json");
        if (configFileExists)
        {
            jsonText = File.ReadAllText("./uploaded_configuration_file.json");

        }
        else
        {
            jsonText = await Http.GetStringAsync("sample-data/configurations-paths-original/platformDefault.json");

        }
        
        container = Newtonsoft.Json.JsonConvert.DeserializeObject<Container>(jsonText);

        simulator = new Simulator(container, browserLanguage);
        guibroker.update_board(simulator.container);
        guibroker.restart_board();
    }

    /// <summary>
    /// The function updateSimulatorContainer is used to update the simulator elements,
    /// based on edited values from the GUI.
    /// </summary>
    /// <param name="Type"></param>
    /// <param name="JSONString"></param>
    [JSInvokable]
    public static void updateSimulatorContainer(string Type, string JSONString)
    {
        guibroker.updateSimulatorContainer(Type, JSONString, simulator);
    }

    private async Task ConnectToWebSocket()
    {
        var uri = new Uri("ws://localhost:5000/ws/"); // Replace with your WebSocket URI

        while (true)    
        {
            try
            {
                await WebSocketService.ConnectAsync(uri);
                Console.WriteLine("Connected to WebSocket server.");
                break; // Exit the loop if the connection is successful
            }
            catch (Exception ex)
            {
                Console.WriteLine($"WebSocket connection failed: {ex.Message}. Retrying in 5 seconds...");
                await Task.Delay(5000); // Wait 5 seconds before retrying
            }
        }
    }


    private void addToSimulatorQueue(Queue<ActionQueueItem> queue)
    {
        simulator.actionQueue = ActionQueueModels.pushActionQueueToOriginalActionQueue(simulator.actionQueue, queue);
    }

    private async Task HandleWebsocketReturn()
    {
        try
        {
            var result = await WebSocketService.ReceiveMessageAsync();

            if (result is WebSocketService.WebSocketMessage<Queue<ActionQueueItem>> actionQueue)
            {
                foreach (var item in actionQueue.Data)
                {
                    Console.WriteLine(item);
                }

                addToSimulatorQueue(actionQueue.Data);
                Playv2();
            }
            else if (result is WebSocketService.WebSocketMessage<WebSocketService.RequestWrapper<WebSocketService.SensorRequestData>> sensorRequestMessage)
            {
                _ = Task.Run(async () =>
                {
                    await HandleSensorRequestResponse(sensorRequestMessage);
                });
            }
            else if (result is WebSocketService.WebSocketMessage<WebSocketService.RequestWrapper<WebSocketService.ActuatorDto>> actuatorRequestMessage)
            {
                _ = Task.Run(async () =>
                {
                    await HandleActuatorRequestResponse(actuatorRequestMessage);
                });
            }


        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error in HandleWebsocketReturn: {ex.Message}");
            throw; // Re-throw the exception to be handled by WebSocketListen
        }
    }

    private async Task HandleActuatorRequestResponse(WebSocketService.WebSocketMessage<WebSocketService.RequestWrapper<WebSocketService.ActuatorDto>> actuatorRequestMessage)
    {
        var actuatorRequest = actuatorRequestMessage.Data;
        var targetTime = actuatorRequest.Time;

        while (simulator.container.currentTime < targetTime)
        {
            await Task.Delay(100);
        }

        Actuators actuator = HelpfullRetreiveFunctions.getActuatorByActuatorId(simulator.container, actuatorRequest.Data.ActuatorId);

        if (actuator == null)
        {
            WebSocketService.WebSocketMessage<int> errorResponse =
                new WebSocketService.WebSocketMessage<int>(
                    actuatorRequestMessage.RequestId, "error", 404);

            await WebSocketService.SendMessageAsync(Utf8Json.JsonSerializer.ToJsonString(errorResponse));
        }
        else
        {
            foreach (var kvp in actuatorRequest.Data.Arguments)
            {
                switch (kvp.Key)
                {
                    case("temperature"):
                        DeviceUtilityFunctions.setActuatorTargetTemperature(actuator.ID, (float) kvp.Value, simulator.container);
                        break;


                    default:
                        Console.WriteLine($"We dont know what to do with actuator argument: {kvp.Value}");
                        break;
                }
            }
        }

        WebSocketService.WebSocketMessage<int> response =
            new WebSocketService.WebSocketMessage<int>(
                actuatorRequestMessage.RequestId, "actuator_response", 200);

        await WebSocketService.SendMessageAsync(Utf8Json.JsonSerializer.ToJsonString(response));
    }


    private async Task HandleSensorRequestResponse(WebSocketService.WebSocketMessage<WebSocketService.RequestWrapper<WebSocketService.SensorRequestData>> sensorRequestMessage)
    {
        var sensorRequest = sensorRequestMessage.Data;
        var targetTime = sensorRequest.Time;

        while (simulator.container.currentTime < targetTime)
        {
            await Task.Delay(100);
        }

        Sensors sensor = HelpfullRetreiveFunctions.getSensorBySensorId(simulator.container, sensorRequest.Data.SensorId);

        if (sensor == null)
        {
            WebSocketService.WebSocketMessage<int> errorResponse =
                new WebSocketService.WebSocketMessage<int>(
                    sensorRequestMessage.RequestId, "error", 404);

            await WebSocketService.SendMessageAsync(Utf8Json.JsonSerializer.ToJsonString(errorResponse));
        }
        else
        {
            switch (sensor.type)
            {
                case("RGB_color"):
                    ColorSensorModels.colorSensor(simulator.container, sensor);
                    DeviceUtilityFunctions.getColorOfSensorWithID(sensor.ID, simulator.container);
                    break;
                case("temperature"):
                    TemperatureSensorModels.temperatureSensor(simulator.container, sensor);
                    DeviceUtilityFunctions.getTemperatureOfSensorWithID(sensor.ID, simulator.container);
                    break;
            }

            WebSocketService.WebSocketMessage<Sensors> response =
                new WebSocketService.WebSocketMessage<Sensors>(
                    sensorRequestMessage.RequestId, "sensor_response", sensor);

            await WebSocketService.SendMessageAsync(Utf8Json.JsonSerializer.ToJsonString(response));
        }
    }

    private async void WebSocketListen()
    {
        while (true)
        {
            try
            {
                await HandleWebsocketReturn();
            }
            catch (Exception ex)
            {
                Console.WriteLine($"WebSocket connection lost: {ex.Message}. Attempting to reconnect...");
                Restart();
                await ConnectToWebSocket(); // Reconnect if the connection is lost
            }
        }
    }



    /// <summary>
    /// The following is used to initialize every component in the simulation framework
    /// </summary>
    ///
    string browserLanguage;
    private Container? container;
    private static Simulator? simulator;
    private static BioVM? bioVM;
    private static MicrofluidSimulator.SimpleVM.SimpleVM? simpleVM;
    private MicrofluidSimulator.SimulatorCode.DataTypes.ElectrodesWithNeighbours[]? electrodesWithNeighbours;
    
   
    /// <summary>
    /// OnAfterRender is triggered when a render change is happening, we initialize on first render.
    /// </summary>
    /// <param name="firstRender"></param>
    protected override async void OnAfterRender(bool firstRender) {
        if (firstRender) {
            // choose the index of the configuration you would like to run
            

            // Get the language of the current browser
            browserLanguage = JSInProcessRuntime.Invoke<String>("get_browser_language");

            // Initializes the program chosen
            container = await Http.GetFromJsonAsync<Container>("sample-data/configurations-paths-original/platformDefault.json");
            string actionQueueInstructions = null;
            


            simulator = new Simulator(container, browserLanguage);
            simpleVM = new MicrofluidSimulator.SimpleVM.SimpleVM(simulator);


            // Setup the GUI Broker on the C# side
            guibroker.set_jsprocess(JSInProcessRuntime);
            guibroker.set_unmarshall(JSUnmarshalledRuntime);
            guibroker.setP5();
            guibroker.start_update_timer();
            guibroker.update_board(simulator.container);
            guibroker.initialize_board(container.information);



            // ActionQueueItem result = await WebSocketService.ReceiveActionQueueItemAsync();
            // Queue<ActionQueueItem> queue = new Queue<ActionQueueItem>();
            // queue.Enqueue(result);
            // addToSimulatorQueue(queue);
            await ConnectToWebSocket();
            await HandleWebsocketReturn();
            // Play();
            WebSocketListen();



            // Play();

            // simpleVM.pushActionsAtTime(1, queue);
            

        }
    }
}